.movie-detail {

  h1, p {
    color: white;
  }

  span {
    color: #7A8C99;
  }

  .navigation {
    padding-bottom: 24px;
  }

  .info {
    padding-left: 0px;

    .brief-info {
      padding-bottom: 24px;
      font-size: 12px;

      span {
        color: #7A8C99;
      }
    }

    .title {
      font-size: 30px;
    }

    .ratings {
      padding-bottom: 24px;
      display: inline-block;

      > div {
        float: left;
        margin-right: 12px;
      }
    }

    .plot {
      padding-bottom: 24px;
    }
  }
}